body{
  background-color:lightgray;
}
h1{
  color:;
  font-size:38px;
  font-family:Franklin Gothic Medui;
  text-align:center;
  margin-bottom:5px;
  background-color:#483D8B
}
h2{
  text-align:center;
  color:blue;
  margin-top:0;
  background-color:#836FFF
}
label{
  font-family:Arial;
  color:blue;
  text-align:center;
}
button{
  text-align:center;
  background-color:#191970;
    color:white;
  font-family:Frankilin Gothic Mediu;
}

